.card
    display: inline-flex
    align-items: center
    justify-content: flex-end
    width: 100%
    transform: translateX(-25%)
    input
        color: #333 !important
        margin-right: 8px
        width: 100px
.higher
    position: absolute
    right: 50px
    bottom: 0
    text-align: left
    p
        color: rgb(225,225,225)
.ant-btn-dashed
    *
        color: #898989 !important
.ant-form-item-children
    display: inline-flex
.ant-form-item-label
    label
        color: rgb(225,225,225)
